@font-face {
    font-family: Montserrat-Light;
    src: url(lib/fonts/Montserrat-Light.otf);
}
body {
	font-family: Montserrat-Light;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFFF;
	}
h1 {
	color: #000000;
	font-size: 18px;
	margin: 0px;
	margin-bottom: 0px;
}
h2 {
	font-size: 14px;
	font-weight: 5000;
	margin: 4px 0px 0px 0px;
}
h3 {
	font-size: 12px;
	font-weight: 100;
	margin: 0px;
}
h4 {
	color: #eb9113;
	font-size: 18px;
	margin: 0px;
	font-weight: 500;
}
a {
	text-decoration: none;
}
a {
	color: #F4F1BB;
}

#outerContainer {
	width: 100%;
	height: auto;
	overflow: none;
	position: relative;
	background-color: #FFFFFF;
}
#loadAPI {
	*visibility: hidden;
	height: 50px;
}
#loadContent {
	padding-top: 100px;
	height: auto;
	overflow: none;
}
#typeMenu {
	padding-top: 5px;
	width: 100%;
	height: 80px;
	overflow: none;
	position: fixed;
	color: #eb9113;
	top: 0px;
	background-color: #FFFFFF;
	text-align: center;
	z-index: 2;
	box-shadow: 0px 2px 10px #808080;
}
#selectedMenu {
	width: 100%;
	height: 2px;
	position: fixed;
	background-color: #EFC75E;	
	text-align: center;
	top: 85px;
	z-index: 2;
}
.centeredDIV {
	display: table-cell;
	vertical-align: middle;	
}
.centeredDIV.active {
	color: #eb9113;
	font-weight: 800;
}
[class*="linkToAPIButton"] {
	*background-color: #808080;
	color: #808080;
	background-position: center;
	transition: background 0.8s;
	display: table;
	text-decoration: none;
	width: 33%;
	height: 100px;
	border: 0px collapse #000000;
	text-align: center;
	margin: 0px;
	font-weight: 800;
	}
[class*="linkToAPIButton"]:hover {
	background: #ffffff radial-gradient(circle, transparent 1%, #ffffff  1%, #ffffff) center/8000%;
	transition: background 0.5s;
	}
[class*="linkToAPIButton"]:active {
	background-color: #808080;
	background-size: 100%;
	transition: background 1s;
}
.linkToAPIButtonLeft {
	float: left;
	}
.linkToAPIButtonRight {
	float: right;
	}
.typeContainer {
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #FFFFFF;	
	margin-bottom: 10px;
	*margin-left: 2%;
	*box-shadow: 0px 2px 10px #D3D3D2;
	}
.buttonContainer {
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #FFFFFF;	
	margin-bottom: 10px;
	*margin-left: 2%;
	box-shadow: 0px 2px 10px #D3D3D2;
	}
#typeMenuFirst {
	width: 33.33%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	float: left;
}
#typeMenuSecond {
	width: 33.33%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	float: left;
}
#typeMenuThird {
	width: 33.33%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	float: left;
}
#typeMenuFirst:hover {
	cursor: pointer;
	}
#typeMenuSecond:hover {
	cursor: pointer;
	}
#typeMenuThird:hover {
	cursor: pointer;
	}
#selected {
	width: 33.33%;
	background-color: #eb9113;
	float: left;
	height: 2px;
}
#notSelected {
	width: 33.33%;
	float: left;
	height: 2px;
	background-color: #ffffff;
}
.addNew {
	background-color: #03A9F4;
	border-radius: 35px;
	box-shadow: 0px 2px 10px #808080;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 100;
	float: right;
	bottom: 10px;
	right: 10px;
	position: fixed;
	padding: 7px 18px 7px 18px;
}
input:not([type]), input[type=text] {
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
input[type=text] {
    font-weight: 100;
    *color: grey;
    height: 50px;
    width: 90vw;
    padding-left: 10px;
	padding-right: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px SOLID #C0C0C0;
    font-weight: 800;
    *box-shadow: inset 0px 0px 5px #E7E7E7;
	margin: 0px;
	*background-color: #F9F9F9;
    color: #B9B9B9;
	outline: none;
}
input[type=text]:focus, select:focus {
	border-radius: 0px;
    border-bottom: 1px solid #555;
}
.submitButtons {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #eb9113;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 220px;
	text-decoration: none;
	border: none;
	margin: 15px 5px 15px 5px;
 }
form {
	*text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #FFFFFF;	
	margin-bottom: 10px;
	margin-left: 0%;
	box-shadow: 0px 2px 10px #808080;
	*border-radius: 10px;
	padding-top: 5px;
	padding-left: 2%;
}
select {
    color: #B9B9B9;
    height: 50px;
    width: 96vw;
	padding: 10px 10px;
    font-size: 16px;
    *border-radius: 8px;
    border: 1px SOLID #C0C0C0;
    font-weight: 800;
    box-shadow: inset 0px 0px 5px #E7E7E7;
	margin: 0px;
	background-color: #F9F9F9;
	outline: none;
	    border: none;
    border-bottom: 1px SOLID #C0C0C0;
 } 
input[type="checkbox"] {
    display:none;
}
input[type=checkbox] {
   display:inline-block;
    width:25px;
    height:25px;
	background-color: #808080;
}
.selectionContainer {
	font-size: 14px;
	text-align: left;
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #FFFFFF;	
	margin-top: 10px;
	margin-left: 0%;
	box-shadow: 0px 2px 6px #808080;
	padding: 5px;
	}
.selectionContainer select {
    font-weight: 100;
    color: grey;
    height: 40px;
    width: 85px;
    padding-left: 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px SOLID #C0C0C0;
    font-weight: 100;
    box-shadow: inset 0px 0px 5px #E7E7E7;
	margin: 0px;
	background-color: #F8F8FF;
 } 
